version: "3.8"

services:
  app:
    container_name: infor_copy_service
    build: .
    restart: always
    ports:
      - "3005:3005"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      # Променливите се взимат автоматично от .env файла на сървъра
      - LOCAL_DB_SERVER=${LOCAL_DB_SERVER}
      - LOCAL_DB_USER=${LOCAL_DB_USER}
      - LOCAL_DB_PASSWORD=${LOCAL_DB_PASSWORD}
      - LOCAL_DB_NAME=${LOCAL_DB_NAME}
      - CLOUD_DB_URL=${CLOUD_DB_URL}

  frontend:
    image: nginx:alpine
    container_name: infor_ui
    restart: always
    ports:
      - "3000:80"
    volumes:
      # Директно споделяне на папката с билднатия фронтенд
      - ./ui:/usr/share/nginx/html
